@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Spectral&display=swap');

:root {
    --primary-color: #804400;
    --secondary-color: #BEC1B3;
    --accent1-color: #27187e;
    --accent2-color: #5B292A;

    --heading-font: 'Montserrat', sans-serif;
    --paragraph-font: 'Spectral', serif;

    --nav-background-color: #804400;
    --nav-link-color: #27187e;
    --nav-hover-link-color: #5B292A;
    --nav-hover-background-color: #BEC1B3;
}

body {
    margin: 0;
    padding: 10px;
}

header {
    padding-bottom: 10px;
    color: var(--accent1-color);
}

header img {
    height: 75%;
}

nav {
    font-size: 1.1rem;
}

header nav a {
    color: var(--nav-link-color);
    text-decoration: none;
    border: 2px solid;
    background-color: #BEC1B3;
    padding: 1em;
    margin: 2rem;
}

h1 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    font-size: 4em;
    text-align: center;
}

h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    text-align: center ;
}

h3 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    text-align: center ; 
}

section {
    font-family: var(--paragraph-font);
    color: var(--accent2-color);
}

footer {
    display: grid;
    grid-template-columns: auto;
    text-align: center;
    align-content: center;
    margin: 2rem;
}

.hcontainer {
    display: grid;
    grid-template-columns: 1fr 2fr;
    place-items: center;
    align-content: center;
    background-color: #804400;
    height: 225px;
}

.ncontainer {
    display: flex;
    justify-content: space-evenly;
}

.hero {
    display: flex;
    margin: 10px auto;
    position: relative;
}

.hero img {
    width: 100%;
    height: auto;
}

.top {
    position: absolute;
    width: 100%;
    margin-top: 10px;
    background-color: #CCCFC4;
}

.bottom {
    position: absolute;
    width: 75%;
    bottom: 10%;
    top: 50%;
    left: 12%;
    background-color: rgba(152, 68, 71, 0.5);
    font-family: var(--paragraph-font);
    color: white;
}

.bottom img {
    width: 15%;
    height: auto;
    float: right;
}

.history {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    gap: 10px;
    align-items: center;
    background-color: #CCCFC4;
}

section img {
    width: 100%;
    height: auto;
}

.adventures {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
    background-color: #DFB9B9;
    color: #27187e;
}


.socialmedia {
    display: flex;
    justify-content: space-evenly;
    padding-left: 300px;
    place-items: center;
    
}

.address {
    display: grid;
    grid-template-columns: 2fr 1fr;
    text-align: center;
    font-size: x-large;
    gap: 10px;
    align-items: center;
    background-color: #CCCFC4;
}

form {
    width: 100%;
    margin: 0 auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background-color: lightgray;
    display: grid;
    grid-template-rows: 1fr 1fr 2fr 2fr 1fr 1fr;
}

.namerow {
    display: flex;
    margin-left: 10px;
    gap: 10px;
    align-self: center;
    justify-content: flex-start;
}

.namerow input {
    width: 400px;
    height: 25px;
}

.category {
    display: flex;
    margin-left: 10px;
    align-items: center;
    justify-content: start;
    gap: 50px;
}

.category input {
    width: ;
}

.message {
    display: grid;
    margin-left: 10px;
    grid-template-columns: 1fr 20fr;
    height: auto;
}

.message label {
    width: 100%;
}

.subscribe {
    margin-left: 10px;
    align-self: center;
    color: var(--nav-link-color);
    text-decoration: none;
    border: 2px solid;
    padding: 1em;
    text-align: center;
}

.submit {
    align-self: center;
    text-align: center;
    padding: 1em;
}

.profiles {
    display: grid;
    grid-template-rows: max-content;
    text-align: center;
    align-content: center;
    background-color: #DFB9B9;
    color: #27187e;
}

.profilesimg {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    align-content: center;
    background-color: #DFB9B9;
    color: #27187e;
}

.profilesimg img {
    width: 60%;
}

.cfooter {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    align-content: center;
    margin: 2rem;
}

.link {
    text-align: left;
    align-content: center;
    padding-top: 20px;
}

/*TRIPS PAGE*/
.actioncontainer {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-bottom: 10px;
}

.actioncontainer img {
    width: 100%;
    height: auto;
}

.action {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.popular {
    display: grid;
    grid-template-rows: max-content;
    text-align: center;
    align-content: center;
    background-color: #DFB9B9;
    color: #27187e;
}

.popularimg {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    align-content: center;
    background-color: #DFB9B9;
    color: #27187e;
}

table, th, td{
    border: 1px solid black;
    background-color: #CCCFC4;
}

th {
    text-align: center;
}

td {
    text-align: left;
}

a {
    color: var(--nav-link-color);
    text-decoration: none;
    border: 2px solid;
    padding: 1em;
    text-align: center;
   }

a:hover {
    color: #804400
}

a:link {
    text-decoration: none;
    background-color: #BEC1B3;
}

.booknow {
    margin-top: 50px;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1em;
}

.socialmedia a {
    background-color: white;
    border: none;
}

.link a {
    background-color: white;
    border: none;
}

/*HOME PAGE*/
.homecontainer {
    display: grid;
    grid-template-columns: 1.5fr 3fr;
}

.homeformheader h3 {
    text-align: left;
}

.homename input{
    width: 90%;
    height: 30px;
    margin-bottom: 40px;
}

.homecontainer form {
    display: grid;
    grid-template-rows: 3fr 1fr;
    width: 100%;
    margin: 0 auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background-color: lightgray;
}

.homecallout {
    align-items: center;
}

.homecallout img {
    height: 400px;
}

.homecallout .booknow {
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1em;
    font-size: larger;
    text-align: center;
}

.homebottom {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: left;
    background-color: #DFB9B9;
    color: #27187e;
    margin-top: 10px;
}