@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Spectral&display=swap');

:root {
    --primary-color: #ff8600;
    --secondary-color: #7c7f65;
    --accent1-color: #27187e;
    --accent2-color: #984447;

    --heading-font: 'Montserrat', sans-serif;
    --paragraph-font: 'Spectral', serif;

    --nav-background-color: #ff8600;
    --nav-link-color: #27187e;
    --nav-hover-link-color: #7c7f65;
    --nav-hover-background-color: #984447;
}

body {
    width: 1800px;
    padding: 30px;
}

h2 {
    font-family: var(--heading-font);
    color: var(--secondary-color); 
}

header {
    padding-bottom: 10px;
    color: var(--accent1-color);
}

nav {
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding-right: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

section {
    color: var(--accent2-color);
}

.hero {
    position: relative;
} 

.hero h1 {
    font-family: var(--heading-font);
    color: var(--primary-color); 
    position: absolute;
    top: 30px;
    font-size: 75px;
    text-align: center;
    background-color: rgba(124, 127, 101, 0.7);
    width: 1798px;
}

.hero article {
    position: absolute;
    bottom: 20%;
    right: 22%;
    color: white;
    width: 1000px;
    background-color: rgba(152, 68, 71, 0.7);
}

.hero article img {
    float: right
}