.callout {
	width: 400px;
    margin: 0 auto;
    border: 0;
    padding: 10px;
    background-color: rgb(0, 32, 128);
    color: lightgray
}

.callout img {
	float: right;
    margin: 10px;
    border: 3px solid gray;
    padding: 0;
    background-color: black;
    width: auto;
    height: 125px;
}

blockquote {
    margin: auto;
}

cite {
	display: block;
    border-top: 1px dotted white;
    padding-top: 1px;
    text-align: right;
    font-size: smaller;
}