.callout {
width: 100px;
margin: 10px;
border: 5px;
padding: 5px;	
background-color: blue;
color: crimson;
}

.callout img {
float: right;
margin: 0 0 10px 15px;	
border: 1px solid rgba(red, green, blue, alpha);
padding: 5px;
background-color: azure;
width: 10px;
height: auto;
}

blockquote {
margin: 0;
}

cite {
display: block;
border-top: 1 px dotted blue;
padding-top: 3px;
text-align: right;
font-size: small;
}